body, hi, h3 {
	margin: 0;
}

.bottom {
	margin-top: 50px;
}

.container {
 
  	width:  70%;
  	margin: 0 auto;
  }

.clr {
	clear: both;
}

.box_1 {
	background-color: green;
	padding: 20px 30px;
	margin-top: 30px;
	border: 3px solid red;
	
		}	

.box_1 h1 {
	text-align: center;
	text-decoration: underline;
	front-family: sans-serif;
	color: white;
			}
.box_1 p {
	color: white;
}

.box_2 {
	margin-top: 30px;
	padding: 20px;
	border: 3px dashed blue;

}

.box_2 h1,  .box_2 p {
	color: #111;
}

.button {
	background-color: #222;
	color: #fff;
	front-size: 18px;
	border: 1px solid #222;
	padding: 5px 15px;
	border-radius: 4px;
}

.button:hover {
	cursor: pointer;
	background-color: #fff;
	color: #222;

}

.box_3 {
	margin: 30px 0;
	border: 1px solid #555;
	padding: 20px;

}

.box_3  h1 {
		text-align: center;
		color: #555;
		front-family: sans-serif;
}

.categories {
	padding: 0;

}

.categories li {
	list-style-type: none;
	padding: 5px 0;
}

.myForm {

}

.myForm label {
	display: block
	color: #555;

}

.myForm input, .myForm textarea {
	margin:8px  0;
	padding: 5px;
	width: 100%;

}

.block {
	float: left;
	width: 33.3%;
	border:1px solid #555;
	padding: 10px;
	box-sizing: border-box;
}
 
.content {
	float: left;
	width: 70%;
}

.sidebar {
	float: left;	
	width: 30%;'
	background-color: #333;
	color: #fff;
	box-sizing: border-box;
	padding: 0 10;
}

.relative {
	position: relative;
	top: 0;
	width: 630px;
	height: 400px;
	background-image: url(ppt.jpg);
	background-size: cover;
}

.absolute {
	position: absolute;
	top: 20%;
	left: 10%;
}

.absolute2 {
	position: absolute;
	top: 40%;
	right: 10%;
}

.fixed {
	position: fixed;
	left: 0;
	top: 50%
}
.list-items li{
	color: #555;
	padding: 5px;
	list-style-type: none;
}

.list-items li:first-child{
	background-color: #ff0000;
	color: #fff;
}


.list-items li:nth-child(even) {
	background-color: green;
	color: #fff;
}

.list-items li:last-child{
	background-color: blue	;
	color: #fff;
}

.table1 {
	width: 100%;
	border-collapse: collapse;
}

.table1 th {
	border: 1px solid #555;
	background-color: green;
	color: #fff;
	padding: 5px;
}

.table td {
	text-align: center;
	border: 1px solid #555;
	padding: 5px;
}

.table1 tr:nth-child(even) {
	background-color: #B2D0EC;
}

